<table class="w-full">
  <tr>
    <td class="px-4 pt-8 text-xs text-left font-bold font-sans font-bold">Ut enim ad minim:</td>
  </tr>
  <tr>
    <td class="px-4 pt-4 text-xs text-left font-sans">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
  </tr>
  <tr>
    <td class="px-4 pt-4 text-xs text-leftfont-sans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur.</td>
  </tr>
  <tr>
    <td class="px-4 pt-6 text-xs text-leftfont-sans font-bold">Sint occaecat cupidatat:</td>
  </tr>
  <tr>
    <td class="pl-5 pr-4 pt-4">
      <table>
        <tr>
          <td class="text-xs text-left font-sans w-[14px]" valign="top">1.</td>
          <td class="text-xs text-left font-sans">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.</td>
        </tr>
        <tr>
          <td class="text-xs text-left font-sans w-[14px]" valign="top">2.</td>
          <td class="text-xs text-left font-sans">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr>
  
    
  </tr>

  <tr>
    <td><x-image imgUrl="Separator.png" href="#" class="px-4 pt-4" /></td>
  </tr>
  <tr>
    <td class="px-4 text-xs py-4 text-left font-sans text-center">Sed do eiusmod tempor incididunt ut labore</td>
  </tr>
  <tr>
    <td  align="center">
      <x-image imgUrl="Footer Logo.png" href="#" class="w-[120px] h-[90px] py-6" />
    </td>
  </tr>
</table>