<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="text-center px-4 pt-4 pb-5 text-2xl 
  font-sans text-[#005555] font-bold" colspan="2"> Sint cupidatat occaecat ut</td>
  </tr>

  <tr>
    <td class="p-4 sm:w-full sm:block">
      <table  class="bg-[#ffffff]">
        <tr>
          <td align="center">
            <x-image imgUrl="icon.png" href="#" class="w-24 h-24 rounded-full my-4" />

          </td>
        </tr>
        <tr>
          <td class="text-center text-xl font-sans text-[#005555] font-bold px-6 pt-0">
            Nisi ut ade
          </td>
        </tr>
        <tr>
          <td class="text-center text-base font-sans font-normal px-8 py-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam.<sup class="text-xs font-sans font-normal leading-4">1</sup>
          </td>
        </tr>

      </table>
    </td>
    <td class="p-4 sm:w-full sm:block py-8">
      <table  class="bg-[#ffffff] ">
        <tr>
          <td align="center">
            <x-image imgUrl="icon.png" href="#" class="w-24 h-24 rounded-full my-4" />

          </td>
        </tr>
        <tr>
          <td class="text-center text-xl font-sans text-[#005555] font-bold px-6">
            Duis aute irure
          </td>
        </tr>
        <tr>
          <td class="text-center text-base font-sans font-normal px-8 py-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup class="text-xs font-sans font-normal leading-4">2</sup>
          </td>
        </tr>

      </table>
    </td>
  </tr>
  
</table>